@model HotelApplication.Models.Prenotazione

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Prenotazione</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cliente.ClienteId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Camera)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Camera.CameraId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataInizio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataInizio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataFine)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataFine)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Stato)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Stato)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fumatore)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fumatore)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImportoTotale)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImportoTotale)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dipendente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dipendente.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.PrenotazioneId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
